fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[argon2]
email-validator
sqlalchemy[asyncio]
asyncpg
aiosqlite
alembic
redis
torch
torchvision
librosa
scikit-learn
xgboost
opencv-python-headless
numpy
pillow
joblib
pydantic
pydantic-settings
python-dotenv
httpx
aiofiles
pytest
pytest-asyncio
celery
boto3
asgiref>=3.8.1
moviepy
transformers
facenet-pytorch
python-whois
groq
